@model WebAppForNotes.Models.AppUserViewModel

@{
    ViewBag.Title = "Login or Register";
}

<h2>User Access</h2>

<div>
    <h4>Login</h4>
    <hr />
    @Html.Partial("AppUserLoginForm", Model.AppUserLoginModel)
</div>
<div>
    <h4>Register</h4>
    <hr />
    @Html.Partial("AppUserRegisterForm", Model.AppUserRegisterModel)
</div>