@model WebAppForNotes.Models.AppUserViewModel

@{
    ViewBag.Title = "Login or Register";
}

<h2>User Access</h2>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    @Html.Partial("_LoginForm", Model.AppUserLoginModel)
</div>
<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    @Html.Partial("_RegisterForm", Model.AppUserRegisterModel)
</div>